.proto-wrapper{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #444;
}
.container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	height: 100%;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	-webkit-animation: opac 2s;
    animation: opac 2s;
}
.image-box{
	display: flex;
	position: relative;
	justify-content: center;
	height: auto;
	max-width: 900px;
	margin: 0 auto;
	overflow: hidden;
}
.button-container{
	position: absolute;
	width: 23%;
	right: 5%;
	bottom: 4%;
}
.enter-button, .about-button{
	width: 90%;
	height: auto;
}
.mainpage{
	max-width: 900px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.coco{
	width: 43%;
	position: absolute;
	left: 1%;
	bottom: -20px;
	animation: bounce 2s infinite ease-in-out;
	z-index: 1;
}
.cards{
	position: absolute;
	width: 28%;
	top: 20px;
	left: 10px;
}
.nk-main-img{
	position: absolute;
	width: 65%;
	bottom: 0;
	left: 50px;
	z-index: 0;
}
.bag{
	position: absolute;
	width: 18%;
	top: 17%;
	left: 25%;
	animation: rotate 1.5s infinite;
	animation-timing-function: ease-in-out;
}
.flag{
	position: absolute;
	width: 13%;
	top: 24%;
	left: 45%;
	animation: rotate 2s infinite;
	animation-timing-function: ease-in-out;
}
.title{
	position: absolute;
	width: 32%;
	top: 20%;
	right: 6%;
}
.pre-next-btn{
	width: 100%;
	height: 60px;
	max-width: 860px;
	position: absolute;
	margin: 0 auto;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	right: 1%;
	z-index: 10;
}
.pre, .next{
	width: 60px;
	height: 60px;
	background-color: transparent;
}
.coco-layback{
	width: 48%;
	position: absolute;
	margin: 0 auto;
	top: 26%;
	right: 23%;
	animation: rotate 2s infinite;
	animation-timing-function: ease-in-out;
}
.coco-layon{
	width: 50%;
	position: absolute;
	margin: 0 auto;
	top: 40%;
	right: 20%;
	animation: rotate 2s infinite;
	animation-timing-function: ease-in-out;
}
.text-btn-container{
	width: 100%;
	height: 40px;
	max-width: 860px;
	position: absolute;
	margin: 0 auto;
	top: 9%;
	right: 0;
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
	z-index: 10;
}
.text-btn{
	width: 100px;
	height: 100px;
	background-color: transparent;
}
.text-box{
	width: 38%;
	position: absolute;
	top: 20%;
	right: 10%;
	z-index: 10;
}
.textbox2{
	width: 31%;
	position: absolute;
	top: 5%;
	right: 26%;
	z-index: 10;
}
.text-btn2{
	width: 100px;
	height: 100px;
	background-color: transparent;
	z-index: 10;
}
.textbox3{
	width: 38%;
	position: absolute;
	top: 33%;
	right: 26%;
	z-index: 10;
}
.text-btn3{
	width: 100px;
	height: 100px;
	background-color: transparent;
}
.main-nav-container-two{
	width: 20%;
	height: 60%;
	position: absolute;
	right: 0;
	top: 17%;
	z-index: 10;
}
.main-nav-container-three{
	width: 20%;
	height: 60%;
	position: absolute;
	right: 0;
	top: 17%;
	z-index: 10;
}
.main-nav-container-zoomin{
	width: 20%;
	height: 60%;
	position: absolute;
	right: 0;
	top: 17%;
	z-index: 10;
}
.main-nav-myGallery{
	width: 20%;
	height: 60%;
	position: absolute;
	right: -14%;
	top: 17%;
}
.main-nav-container-two-toggle{
	width: 20%;
	height: 60%;
	position: absolute;
	right: 0;
	top: 17%;
	z-index: 10;
}
.main-nav-publicGallery{
	width: 20%;
	height: 60%;
	position: absolute;
	right: -14%;
	top: 17%;
}
.main-nav-publicGallery-toggle{
	width: 20%;
	height: 60%;
	position: absolute;
	right: 0;
	top: 17%;
}
.door{
	position: absolute;
	width: 25.5%;
	right: 30%;
	top: 26%;
	z-index: 1;
}
.doorOpen{
	position: absolute;
	width: 45%;
	height: auto;
	right: 30%;
	top: 26%;
	z-index: 1;
}
.main-nav-open{
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.home{
	position: absolute;
	width: 35%;
	height: auto;
	right: 5%;
	z-index: 10;
	top: 3%;
}
.my-gallery-btn{
	position: absolute;
	width: 52%;
	height: auto;
	right: 11%;
	z-index: 10;
	top: 18%;
}
.my-public-btn{
	position: absolute;
	width: 65%;
	height: auto;
	right: 5%;
	z-index: 10;
	top: 38%;
}
.publicgallery{
	position: absolute;
	width: 35%;
	height: 15%;
	right: 5%;
	z-index: 10;
	top: 48%;
}
.mute{
	position: absolute;
	width: 48%;
	height: auto;
	right: 8%;
	z-index: 10;
	top: 56%;
}
.settings{
	position: absolute;
	width: 42%;
	height: auto;
	right: 12%;
	z-index: 10;
	top: 72%;
}
.redtag{
	width: 40%;
	height: auto;
	position: absolute;
	left: 10px;
	top: 44%;
	z-index: 10;
}
.container-open{
	width: 25%;
	height: 80%;
	position: absolute;
	right: 0;
	top: 17%;
	z-index: 10;
}
.main-nav-container{
	width: 25%;
	height: 80%;
	position: absolute;
	right: -14%;
	top: 17%;
	z-index: 10;
}
.home-btn{
	position: absolute;
	width: 60%;
	right: 9%;
	height: auto;
	z-index: 1;
}
.main-nav{
	width: 70%;
	max-width: 150px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	height: 100%;
}	
.nav-spr{
	width: 90%;
	position: absolute;
	right: 0;
	top: 2%;
	z-index: 1;
	height: auto;
}
.plant{
	width: 20%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
	animation: bounce 5s infinite;
	animation: rotate 4s infinite;
	animation-timing-function: ease-in-out;
}
.pagenav{
	position: absolute;
	width: 60%;
	bottom: -5px;
}
.pagenav-icon{
	bottom: 0;
	z-index: 1;
	width: 90%;
	height: auto;
	margin-left: 0;
	margin-right: 0;

}
.pagenav-icon-container{
	position: absolute;
	bottom: -1px;
	right: 45%;
	width: 10%;
	height: 10%;
	z-index: 11;
}
.pagenav-page{
	font-size: 13px;
	color: #fff;
	font-weight: 400;
	width: 100%;
	height: 65%;
	position: absolute;
	bottom: 0;
	z-index: 1;
}	
.case1{
	position: absolute;
	width: 18%;
	height: auto;
	top: 62%;
	right: 5%;
	z-index: 1;
}
.case2{
	position: absolute;
	width: 20%;
	height: auto;
	top: 45%;
	right: 10%;
}	
.frame_white{
	position: absolute;
	width: 20%;
	height: auto;
	top: 10%;
	left: 20%;
	animation: rotate 3.5s infinite;
	animation-timing-function: ease-in-out;
}
.eiffelTower{
	position: absolute;
	width: 15%;
	top: 30%;
	left: 0%;
	animation: rotate 4s infinite;
	animation-timing-function: ease-in-out;
}
.cocoinframe{
	position: absolute;
	width: 20%;
	height: auto;
	top: 15%;
	right: 4%;
	animation: rotate 3s infinite;
	animation-timing-function: ease-in-out;
}
.ggb{
	position: absolute;
	width: 15%;
	height: auto;
	top: 45%;
	left: 23%;
	animation: rotate 2s infinite;
	animation-timing-function: ease-in-out;
}
/*page-two*/

.dmz{
	position: absolute;
	width: 11%;
	bottom: 10%;
	left: 35%;
	animation: rotateTwo 3s infinite;
	animation-timing-function: ease-out;
}
.nkflag{
	position: absolute;
	width: 15%;
	top: 20%;
	right: 28%;
	animation: rotateTwo 2.5s infinite;
	animation-timing-function: ease-out;
}
.nkgirl{
	position: absolute;
	width: 15%;
	bottom: 10%;
	left: 7%;
	animation: bounceTwo 2.5s infinite;
	animation-timing-function: ease-out;
}
.hanbok{
	position: absolute;
	width: 15%;
	top: 10%;
	left: 40%;
	animation: rotateThree 2.5s infinite;
	animation-timing-function: ease-out;
}
.juchetower{
	position: absolute;
	width: 9%;
	top: 40%;
	left: 30%;
	animation: rotateTwo 1.5s infinite;
	animation-timing-function: ease-out;
}
.kimsq{
	position: absolute;
	width: 15%;
	top: 60%;
	left: 37%;
	animation: rotateThree 2.6s infinite;
	animation-timing-function: ease-out;
}
.coco-page3{
	position: absolute;
	width: 50%;
	bottom: -8px;
	right: 3%;
	animation: rotateTwo 4s infinite;
	animation-timing-function: ease-out;
}
.zoomout{
	position: absolute;
	width: 8%;
	left: 3%;
	top:3%;
}
.nkflagcopy{
	position: absolute;
	width: 8%;
	height: auto;
	top: 38%;
	right: 42%;
	animation: rotate 2.5s infinite;
	animation-timing-function: ease-out;
}
.notification{
	position: absolute;
	width: 32%;
	top: 2%;
	left: 10%;
	opacity: 0.0;
	visibility: hidden;
}
.card{
	position: absolute;
	width: 15%;
	top: 1%;
	right: 1%;
	z-index: 10;
}
.info1{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
}
.card-input{
	position: absolute;
	width: 100%;
	max-width: 900px;
	height: auto;
	top: 0;
	left: 0;
	z-index: 11;
}
/*page-three*/
.cancel{
	width: 6%;
	height: 7%;
	top: 2%;
	right: 3%;
	position: absolute;
}
.name-input{
	position: absolute;
	width: 60%;
	height: 20%;
	bottom: 20%;
	left: 20%;
}
.save-input{
	position: absolute;
	width: 25%;
	height: 7%;
	bottom: 8%;
	left: 40%;
}
.keyboard{
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0;
	right:0;
}
.popup{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	right: 0%;
	visibility: hidden;
}
.cancle-input-finished{
	width: 6%;
	height: 7%;
	top: 2%;
	right: 3%;
	position: absolute;
}
@keyframes bounce {
  0%   { bottom: -10px; }
  50% { bottom: 0px; }
  100% { bottom: -10px; }
}
@keyframes bounceTwo {
  0%   { bottom: -5px; }
  50% { bottom: 0px; }
  100% { bottom: -5px; }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateTwo {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@keyframes rotateThree {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@-webkit-keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.pre-next-btn-img{
	position: absolute;
	width: 93%;
	bottom: 12px;
	left: 3%;
}


/*page-four*/
.mainpage-p4{
	max-width: 900px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: 
}
.box-p4{
	width: 900px;
	height: 675px;
	background-color: white;
	position: relative;
}
.box{
	width: 80%;
	height: 90%;
	max-width: 60px;
	max-height: 70px;
	background-color: darkgrey;
	position: absolute;
}
.box1{
	top: 10%;
	left: 10%;
}
.box2{
	top: 40%;
	left: 17%;
}
.box3{
	bottom: 13%;
	left: 13%;
}
.box4{
	top: 15%;
	right: 10%;
}
.box5{
	top: 40%;
	right: 15%;
}
.box6{
	bottom: 15%;
	right: 10%;
}
.main-box{
	position: absolute;
	width: 30%;
	height: 70%;
	background-color: grey;
	bottom: 0;
}

/*page-four*/
@media screen and (max-width: 950px){
.pre-next-btn{
	max-width: 95%;
} 
}
@media screen and (max-width: 800px){
.pagenav-page{
	bottom: 1px;
	font-size: 12px;
	}	
}
@media screen and (max-width: 670px){

.pagenav-page{
	font-size: 11px;
	bottom: 2px;
}
.button-container{
	right: 4%;
	bottom: 10px;
}
}
@media screen and (max-width: 580px){
.pagenav-page{
	font-size: 9px;
}
.button-container{
	right: 2%;
}
}
@media screen and (max-width: 414px){
.button-container{
	max-width: 80px;
	right: 2%;
	bottom: 1%;
}
.pagenav-page{
	font-size: 6px;
	bottom: 1px;
}
}